<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="H8/V2pwAVby7hwGAaARTSw==" value="TmkRl39SS/gxaolm9ATWJg==" />
    <add key="DF4mfxyvK8fMR5MMSizIjQ==" value="NZrPVJM91DUyb6eTmTux6Q==" />
    <add key="HZsedx9xqTbn8/SJP5a44A==" value="CriptografiaMPSe" />
    <add key="mXCJODBwcDeDFj8YL0/erQ==" value="198;93;140;59;116;21;190;206;73;233;228;39;4;29;121;145;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="browser" value="ie" />
  </appSettings>
  <connectionStrings>
    <!--Ambiente de Homologação Suporte-->
    <add name="Substituicao" providerName="System.Data.SqlClient" connectionString="Server=DTCSRH-SQL02\IPRD01B;Initial Catalog=Substituicao_SPRH_Desenv_Substituicao;Connect Timeout=3600;User ID=mps2;Password=mps2007" />
    <!--Ambiente de Homologação-->
    <!--<add name="Substituicao" providerName="System.Data.SqlClient" connectionString="Server=DTCSRH-SQL02\IPRD01B;Initial Catalog=Substituicao_SPRH_Homolog_OS2018.03199;Connect Timeout=3600; User ID=mps2;Password=mps2007;" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>